{% extends 'todos/layout.html' %}

{% block content %}

    <div class="jumbotron">

        <h1>Hello, Folks!</h1>
        <h3>Welcome to your personal <br> Digital NoteBook</h3>
        <br>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/accounts/login" role="button">Login</a>
        </p>
        <h5>or</h5>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/signup" role="button">Signup</a>
        </p>
        <br>
        <h5><b>Login</b> or <b>Signup</b> to start taking notes</h5>
        <hr class="my-4">

        <p>This is an Open Source Digital Note taking App, You can check out the source code and Fork me on <b>Github</b>.</p>

    </div>

{% endblock %}
