{% extends 'todos/layout.html' %}

{% block content %}

{% include 'todos/partials/_backbutton.html' %}

{% if not user.is_authenticated %}

    <div style="text-align: left;">

        <h2><strong>Sign up for a free account</strong></h2>
        <hr class="my-4">

            <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}

                {% if form.errors %}
                    <p>There are errors in the form!</p>
                {% endif %}

                <div class="form-group"> 
                    {{ form.username.label_tag }}
                    <br>
                    {{ form.username }}
                    <br>
                    <small>Your first name is best suitable for username.</small>
                </div>
                <br>
                <div class="form-group"> 
                    {{ form.password1.label_tag }}
                    <br>
                    {{ form.password1 }}
                    <br>
                    <small>Your password can't be too similar to your other personal information.</small><br>
                    <small>Your password must contain at least 8 characters.</small><br>
                    <small>Your password can't be a commonly used password.</small><br>
                    <small>Your password can't be entirely numeric.</small>
                </div>
                <br>
                <div class="form-group"> 
                    {{ form.password2.label_tag }}
                    <br>
                    {{ form.password2 }}
                    <br>
                    <small>Enter the same password as before, for verification.</small>
                </div>
                <br>
                <input type="submit" value="Signup" class="btn btn-success"/>

            </form>

    </div>
{% else %}

    <div class="jumbotron">
        <h5>You are already Logged in. Log out first to Register as a new user.</h5>
    </div>

{% endif %}

{% endblock %}
